<ul class="breadcrumbs">
  <li class="breadcrumb-item checked">
    <div class="icon">
      <img src="images/icon-domain.svg" alt="" width="30">  
    </div>
    Enter your domains for valuation
  </li>
  <li class="breadcrumb-item current">
    <div class="icon">
      <img src="images/icon-review.svg" alt="" width="30">  
    </div>
    The​ ​Domain​ ​Machine ​will​ ​calculate​ ​your​ ​offer​
  </li>
  <li class="breadcrumb-item">
    <div class="icon">
      <img src="images/icon-click.svg" alt="" height="35">  
    </div>
    ​Accept​ ​or​ ​reject​ ​your​ ​instant​ ​offer
  </li>
  <li class="breadcrumb-item">
    <div class="icon">
      <img src="images/icon-withdraw.svg" alt="" width="30">  
    </div>
    You​ ​get​ ​paid​ ​cash​ ​for​ ​your​ ​domains
  </li>
</ul> 