/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
html {
  font-size: 62.5%; 
}
body {
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: $base-font-weight;
  font-family: $base-font-family;
  color: $text-color; 
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}
a{
    text-decoration: none;
}
a.logo{
    width: 168px;
    height: 92px;
    background-size: 100%;
    display: inline-block;
    background-image: url(../images/springbid-logo.png);
    background-repeat: no-repeat;
    text-indent: -9999px;
    overflow: hidden;
    &.logo-small{
      width: 105px;
      height: 57px;
    }
}
h1{
    font-size: 3.4em;
    margin-bottom: 20px;
}
p{
    margin-bottom: 1em;
}
small{
    font-size: $font-size-small;
}
img{
  vertical-align: middle;
}
.escrow-logo{
  background-image: url('../images/escrow-logo.png');
  background-size: 100%;
  background-repeat: no-repeat;
  width: 61px;
  height: 61px;
}
.page{
  margin: 30px 0;
}
.escrow-notice{
  .escrow-logo{
    display: inline-block;
    float: left;
    margin-right: 15px;
  }
}
@media (max-width: $device-tablet) {
  a.logo{
    width: 160px;
    height: 32px;
  }
}
hr{
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid $grey-color;
}