.button{
  cursor: pointer;
  font-family: inherit;
  font-size: 100%;
  padding: .7em 1.8em;
  color: #fff;
  text-align: center;
  font-size: $base-font-size;
  font-weight: 700;
  border: none;
  background-color: $grey-color-dark;
  text-decoration: none;
  line-height: 1.3;
  vertical-align: top;
  display: inline-block;
  transition: .1s linear background-color;
  box-sizing: border-box;
  margin-bottom: 1em;
  overflow: hidden;
  position: relative;
  z-index: 0;
  transition: all ease-out .15s;
  &:hover{
    // transform: translateY(-5px);
    box-shadow: 0 1px 25px rgba(0,0,0,.4);
  }
}
.button--hero{
  background-color: $secondary-color;
  overflow: hidden;
  white-space: nowrap;
}
.button--primary{
  background-color: $brand-color;
}

.button-group{
  @include flex;
  button{
    @include flex-grow(1);
    border: 2px solid $brand-color;
    background-color: transparent;
    color: $brand-color;
    font-weight: 700;
    font-size: 16px;
    font-family: $base-font-family;
    padding: 10px;
    white-space: nowrap;
    cursor: pointer;
    &:last-child{
      border-left: none;
    }
  }
  &:after{
    content: "";
    display: table;
    clear: both;
  }
}
.button--accept{
  position: relative;
  &:before{
    width: 15px;
    height: 11.5px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../images/icon-check.svg);
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
  }
}
@media (max-width: $device-tablet) {
  .button--hero{
    width: 100%;
  }
}