.cart-summary{
  background-color: $brand-color;
  color: #fff;
  > h2{
    background-color: darken($brand-color, 5%);
    display: block;
    padding: 20px;
    box-sizing: border-box;
  }
  .cart-item-row{
    padding: 20px;
    font-size: 120%;
    border-top: 1px solid rgba(255,255,255,.2);
    &:after{
      content: "";
      display: table;
      clear: both;
    }
  }
  .cart-item-total{
    text-align: right;
    label{
      display: inline-block;
      vertical-align: middle;
      margin-right: 15px;
    }
    h2{
      font-size: $font-size-xxxlarge;
      font-weight: 300;
      display: inline-block;
      vertical-align: middle;
    }
  }
}