.text-muted{
  color: $grey-color;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.text-large{
  font-size: 120%;
}
.text-error{
  color: $warning-color;
}
.text-small{
  font-size: $font-size-small;
}